<nav class="navbar">
  <div class="navbar-title">
    <a href="">Logo</a>
  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <div class="mainlink">
      <a href="">X</a>
    </div>
    <div class="mainlink">
      <a href="">X</a>
    </div>
  </div>
  <div class="user-div">
    <a href="">
      <img src="/images/professionalPhoto.jpg" alt="" />
    </a>
    <div>
      <div class="user-name">Name</div>
      <a href="">
        <div>Sign-out</div>
      </a>
    </div>
  </div>
</nav>
