<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="post" class="signUpForm">
      <input type="text" id="firstName" name="firstName" placeholder="First Name" />
      <input type="text" id="lastName" name="lastName" placeholder="Last Name" />
      <input type="text" id="username" name="username" placeholder="Email" />
      <input type="password" id="password" name="password" placeholder="Password" />
      <div class="selectMembership">
        <label for="membership">Membership</label>
        <select id="membership" name="membership" id="membership">
          <% for (let i = 0; i < membership.length; i++) { %>
          <option value="<%= membership[i] %>"><%= membership[i] %></option>
          <%} %>
        </select>
      </div>
      <button>Sign Up</button>
    </form>
    <% if (locals.errors) { %>
    <ul>
      <% for (let i = 0; i < errors.length; i++) { %>
      <li><%= errors[i].msg%></li>
      <% } %> <% } %>
    </ul>
  </body>
</html>
