.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white
}

.navbar-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-title a, .navbar-links a, .user-div a {
    text-decoration: none;
    color: white;
}

.navbar-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.mainlink {
    display: block;
    padding: 1rem;
    cursor: pointer;
}

.mainlink:hover{
    background-color: #555;
}

.user-div {
    display: flex;
    gap: 5px;
    margin-right: 10px;
    align-items: center;
}

.user-div img{
    width: 40px;
    border-radius: 10px;
}

.user-name {
    width: 15ch;
}

.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .user-div {
        display: none;
    }
    .toggle-button {
        display: flex;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        display: none;
    }
    .navbar-links.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        text-align: center;
    }
}